/* aqui se colocaria uma fonte tirada do google fonts roboto */

body{
    /* isso serve para tirar as bordas */
    background-color: white;
    margin: 0;
    padding: 0;
    /* padding serve para setar a local onde as coisas vao ficar no site */
    /* margin da linha pra fora
    padding da linha pra dentro */
    
}
.site{
    position: relative; /* posição relativa é pra se adaptar a todos os tipos de tela*/
     width: 1000px; /* tamanho padrao de uma pagina */
    height: auto;
    margin: auto;
    background-color: white;
}
.topo{ 
     /* ela vai pegar 100% do site */
    position: relative;
    width: 100%;
    height: 150px;
   
}
.logo{
    position: relative;
    margin: auto;
    height: 150px;
    width: 300px;
   
}
.menu{
    position: relative;
    width: 100%;
    height: 100px;
    text-align: left;
    color: red;
    background-color: white;
}
.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    /* padding retira o espaçamento dos marcadores da lista
    e o list style oculta o icone de marcar da lista */
}
.menu ul li{
    float: left;
    padding: 15px 30px;
    /* o li que esta dentro do la que esta dentro do menu, por isso se faz assim */
}
.menu ul li a{
        color: crimson;
        text-decoration: none; /*tira o underline*/
        /* color inherit ele herda a cor padrao do site */
        

}
/* hover da o efeito de passar o mouse sobre o elemento */
.menu ul li a:hover{
color: brown;
background-color: aquamarine;
transition: 0.8s;
/* tranform scale (1.2) aumenta zoom
e o rotate ele roda */
}
.banner{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: cadetblue;
    
}
.conteudo{
    position: relative;
    width: 100%;
    height: 500px;
    margin: 50px 0;
    /*duas medidas no margin: eixo vertical e eixo horizontal*/
}
.box{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: white;
    float: left; 
   /* float é flutuando então elas meio que ficam uma do lado da outra*/
   margin-right: 50px;
   /*toda vez q usar border ou padding ele afeta tamanho e altura, mas para nao alterar nada e descontar esse valor basta colocar box sizing*/
   border: 3px greenyellow solid;
   box-sizing: border-box;
   border-radius: 10px;
   box-shadow: 10px 0px 50px black;
   /* coloca uma curvatura na linha em volta da imagem */
} 
/*.sem-margem{
    margin-right: 0;
    ésse é o jeito para se fazer criando outra classe
}*/
.box:last-child{
    margin-right: 0;
} /*desse jeito nao precisa criar outra classe*/
.box img{
    /* pega todas as imagens da div box */
    width: 100%;
    height: auto;
}
.box h3, .box p{
    /* é pra colocar um paragrafo e tamanho do titulo */
    padding: 10px;
}
.rodape{
    position: relative;
    width: 100%;
    height: auto;
    background-color: aliceblue;
}
.titulo{
    color: black;
    width: auto;
    height: auto;
    text-align: center;
}
